 {{> header}}
<h1 style="text-align: center;"> BİZİMLE ALISVERIS YAPTIĞINIZ İÇİN TEŞEKKÜR EDERİZ </h1>
<h1 style="text-align: center;">{{dear}}</h1>

<a href="/" style="margin-left: 470px;"  type="submit" class="btn btn-success" >Go Back to the Home Page</a> 

